<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        ">

    <context:component-scan base-package="com.hunter" />
    <aop:aspectj-autoproxy />
    <!-- 配置bean -->
    <bean id = "insertSort" class = "com.hunter.algorithm.InsertSort" parent="algorithm"/>
    <bean id = "bubbleSort" class = "com.hunter.algorithm.BubbleSort" parent="algorithm"/>
    <bean id = "shellSort" class = "com.hunter.algorithm.ShellSort" parent="algorithm"/>
    <bean id = "simpleSelectionSort" class = "com.hunter.algorithm.SimpleSelectionSort" parent="algorithm"/>
    <bean id = "secondSelectionSort" class = "com.hunter.algorithm.SecondSelectionSort" parent="algorithm"/>
    <bean id = "algorithm" class = "com.hunter.algorithm.Algorithm" abstract="true"/>
    <!-- 配置切面bean -->
    <bean id="logAspect" class="com.hunter.aspect.LogAspect"></bean>

    <!-- 配置AOP -->
    <aop:config>
        <!-- 配置切入点表达式 -->
        <aop:pointcut expression="execution(* com.hunter.algorithm.Algorithm.*(java.util.List))" id="logging"/>
        <!-- 配置切面及通知 -->
        <aop:aspect ref="logAspect">
            <aop:before method="beforeMethod" pointcut-ref="logging"/>
            <aop:after method="afterMethod" pointcut-ref="logging"/>
            <aop:after-returning method="afterReturning"  pointcut-ref="logging"/>
            <aop:after-throwing method="afterThrowing"  pointcut-ref="logging"/>
        </aop:aspect>
    </aop:config>
</beans>
